<div class="card-wrapper">
    <div class="card">
        <h2>@Model.PItem.Name</h2>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ItemLargePhoto)" alt="@Model.PItem.Name" />
        <p>Cost: $@Model.ItemCost[Model.PItem.ProductID]</p>
        <p>@Model.Desc.Description</p>
        @foreach (var rev in Model.ItemReviews)
        {
            <p><strong>Review By:</strong> @rev.ReviewerName</p>
            <p><strong>Rating:</strong> @rev.Rating</p>
            <p><strong>Review:</strong> @rev.Comments</p>
            <p><strong>Review Date:</strong> @rev.ReviewDate</p>
            <br />
        }
    </div>
</div>
    <p>@Html.ActionLink("Add Review", "AddReview", new { PID = Model.PItem.ProductID })</p>

 